.bg-img {
    height: 100vh;
    background-image: url(ey-building-pride-rainbow-flag-lights-banner.jpg);
    background-size: cover;
}

.navbar .nav-link {
    color: #fff !important;
}

.middle {
    margin-top: 240px;
}

.mask {
    height: 100vh;
}

nav a:hover{
border-bottom: 4px solid white;

}
